<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx_bar_{{ chart.id }} = document.getElementById('canvas_chart_{{ chart.id }}');
  const data_bar_{{ chart.id }} = {
    labels: {{ chart.chart_labels|safe }},
    datasets: [{
      label: 'Количество оценок',
      data: {{ chart.chart_values|safe }},
      {#backgroundColor: '{{ bar_color|safe }}'#}
    }]
  };

  new Chart(ctx_bar_{{ chart.id }}, {
    type: 'bar',
    data: data_bar_{{ chart.id }},
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
  });
</script>