<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx_bar_{{ chart_id }} = document.getElementById('{{ chart_id }}');
  const data_bar_{{ chart_id }} = {
    labels: {{ labels|safe }},
    datasets: [{
      label: 'Количество оценок',
      data: {{ values|safe }},
      {#backgroundColor: '{{ bar_color|safe }}'#}
    }]
  };

  new Chart(ctx_bar_{{ chart_id }}, {
    type: 'bar',
    data: data_bar_{{ chart_id }},
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
  });
</script>