<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx_doughnut_{{ chart.id }} = document.getElementById('canvas_chart_{{ chart.id }}');
  const data_doughnut_{{ chart.id }} = {
    labels: {{ chart.chart_labels|safe }},
    datasets: [{
      label: 'Количество оценок',
      data: {{ chart.chart_values|safe }},
      {#backgroundColor: {{ doughnut_colors|safe }},#}
      borderWidth: 1
    }]
  };

  new Chart(ctx_doughnut_{{ chart.id }}, {
    type: 'doughnut',
    data: data_doughnut_{{ chart.id }}
  });
</script>