<!DOCTYPE html>
<html>

<style>
    .chart-container {
  overflow: hidden;
  width: 40vw;
}
</style>

<head>
    {% load static %}
    <script src="{% static 'hints.js' %}"></script>
    <title>Песочница</title>
</head>
<body>
{% include 'navigation.html' %}
    <input type="button" onclick="location.href='/sandbox/type';" value="Назад"/>
    <p>Адрес таблицы с ведомостями: {{ root_table_url }}</p>
    <p>Тип графика: {{ chart_type_name }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div id="filters_container">
            {{ form.input_field }}
            <div id="hints-container"></div>
            <br>
        </div>

        {% if error %}
            <p style="color: red">{{ error }}</p>
        {% endif %}
        <button type="submit">Далее</button>
    </form>

    {% if chart_id %}
        <div class="chart-container">
            <canvas id="{{ chart_id }}"></canvas>
        </div>

        {% include chart_type with chart_id=chart_id %}
    {% endif %}
</body>
</html>
