<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx_scatter_{{ chart_id }} = document.getElementById('{{ chart_id }}');
  const data_scatter_{{ chart_id }} = {
    labels: {{ labels|safe }},
    datasets: [{
      {#label: 'Errors',#}
      data: {{ values|safe }},
      {#backgroundColor: '{{ bar_color|safe }}'#}
    }]
  };

  new Chart(ctx_scatter_{{ chart_id }}, {
    type: 'scatter',
    data: data_scatter_{{ chart_id }},
    options: {
      scales: {
        x: {
          type: 'linear',
          position: 'bottom'
        }
      }
    },
  });
</script>